// Colors
$white-background: #f2f6f9;
$white-oficial-background: #fafafa;
$colorborder: #ebebeb;
$black-dark: #33393b;
$gray-normal: #c7c6c6;
$gray-light: #f9f9f9;
$gray-cardproduct: #294a5a;
// fonts
$orderPaginationFont: 'Belgika';
$searchResultsHeader: 'Farro';
$productCardFont: 'Khmer';
$orderselectFont: 'Khbaph';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  color: $black-dark;
  font-family: $productCardFont;
}

.inputtext {
  outline: none;
  border: none;
  background-color: $gray-light;
  font-size: 0.6em;
  padding: 0.4em;
  margin: 0%;
  box-sizing: border-box;
}

// breackpoints

// mobile.

// Tablet

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .App {
    background-color: red;
  }
}

// Laptop

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  // .App {
  //   background-color: greenyellow;
  // }
}

// Desktop

@media only screen and (min-width: 1025px) {
  // .App {
  //   background-color: grey;
  // }
}
